@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    color: #d8d8d8;
}

hr {
    width: 30px;
    height: 2px;
    background-color: #fb774b;
}

.section-p1{
    padding: 40px 20px;
}

.section-m1{
    margin: 40px 0;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 334px;
    padding: 0px 0px;
    box-shadow: 5px 5px 16px black;
    border: 1px solid #0c0c0c;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 5px 5px 10px black;
}

#feature .fe-box img{
    width: 100%;
    height: 21vh;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgb(119, 111, 104);
    box-shadow: rgb(0, 0, 0.006);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: blanchedalmond;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: azure;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: blanchedalmond;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero {
    background-image: url("img/back.jpg");
    height: 86vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% left -500px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: goldenrod;
}

#hero button{
    background-image: url("img/button2.jpg");
    background-size: cover;
    background-color: transparent;
    color:azure;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
}

#product1{
    text-align: center;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding : 10px 12px;
    border: 1px solid rgb(181, 130, 10);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(176, 172, 172);
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgb(216, 211, 211);
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: rgb(172, 178, 183);
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: black;
    font-size: 14px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:forestgreen;
}

#product1 .pro .des i{
    font-size: 12px;
    color:gold;
}

#product1 .pro img{
    width : 100%;
    border-radius: 20px;
    margin: 15px 0;
    height: 50vh;
}

#product1 .pro .cart{
    position: absolute;
    background-color:rgb(195, 235, 187);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: top;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:black;
    background-color: azure;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:black;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

#banner h4{
    color:rgb(13, 13, 16);
    font-size: 26px;
}

#banner h2{
    color:rgb(226, 184, 32);
    font-size: 46px;
    padding: 10px 0;
}

#banner h2 span{
    color:rgb(234, 70, 0);
}

#banner button:hover{
    background-color:rgb(8, 240, 15);
    color:#0c0c0c;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b1.avif");
    min-width: 720px;
    height: 45  vh;
    background-size: cover;
    background-position: top;
    padding: 30px;
}

#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/parallax.jpg");
    min-width: 720px;
    height: 45vh;
    background-size: cover;
    background-position: top;
    padding: 30px;
}

#sm-banner h4{
    color:#ed2f09;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color:#087613;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background:#f1efef;
    border: 1px solid #fb774b;
}

#sm-banner .banner-box2:hover button{
    background:#f1efef;
    border: 1px solid #fb774b;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/2.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: top;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box-b2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b2.jpeg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: top;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box-b3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b3.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: top;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box h2{
    color:azure;
    font-weight: 900;
    font-size: 22px;
}

#banner3 .banner-box-b2 h2{
    color:azure;
    font-weight: 900;
    font-size: 22px;
}
#banner3 .banner-box-b3 h2{
    color:azure;
    font-weight: 900;
    font-size: 22px;
}

#banner3 .banner-box h3{
    color:rgb(47, 204, 204);
    font-weight: 800;
    font-size: 15px;
}

#banner3 .banner-box-b2 h3{
    color:rgb(47, 204, 204);
    font-weight: 800;
    font-size: 15px;
}

#banner3 .banner-box-b3 h3{
    color:rgb(120, 237, 237);
    font-weight: 800;
    font-size: 15px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/n1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 20px;
    background-color: #0c0c0c;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color:white;
}

#newsletter p{
    font-size: 14px;
    font-weight: 500;
    color:rgb(248, 233, 233);
}

#newsletter p span{
    color: gold;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #099517;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color:#0c0c0c;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color:rgb(160, 159, 153);
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    width: 9vw;
    height: 8vh;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color:#087613;
}

footer .copyright{
    width: 100%;
    text-align: center;
}